<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div classNameName="card-container">
      <div className="card-content">
        <div className="poke-owned">
          <h1 className="total-owned">owned 0</h1>
        </div>
        <img
          className="poke-img"
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png"
        />
        <h1 className="poke-name">Charizard</h1>
      </div>
    </div>
  </body>
</html>
